<!DOCTYPE html>

<html>
	<head>
		<title>Trinder!</title>
			<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body>
		<h1>Welcome to Trinder, the way to find your dream vacation spot!</h1>
			<ol>
			
			<li>Click the start button</li>	
			
			<li>Go through the images, like or dislike them</li>

			<li>View your results<li>
			</ol>
	</body>
</html>