<!DOCTYPE html>
<html>
  <head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/prototype/1/prototype.js"></script>

    <meta charset="utf-8">
    <title>JS Bin</title>
    <link href='http://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
</head>
<body>
  <div id="header">
    <h1>Trindr</h1>
  </div>
  
  <div class="row">
    
      <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
        <div id ="main">
          <h1>Welcome to Trindr!</h1>
            <p>A place to find your dream vacation spot!</p>
          <img class="main-img" src="http://cdn.wonderfulengineering.com/wp-content/uploads/2014/07/HD-landscape-Photographs.png">
        </div>
      </div>
    
      <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
         <div id ="about">
           <h1>What is Trindr?</h1>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam consectetur tortor et diam vulputate consequat. Duis accumsan lacinia maximus. Vivamus ut odio non leo aliquam tristique. Aenean fermentum orci ac augue bibendum malesuada. Donec malesuada pulvinar ultricies. Quisque sit amet accumsan mauris. Nulla a dignissim diam, vitae molestie felis. Aliquam sit amet posuere nisi, nec euismod magna.</p>
         </div>
      </div>
    
      <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
        <div id="app-loc">
          <img class="app-img" src="<%=@picture%>">
          <a class="btn btn-default begin-btn" href="/photo" role="button">Begin!</a>
        </div>
      </div>
  </div> <!--Row END-->
  
</body>
</html>