<head>
<script	 src="https://code.jquery.com/jquery-2.1.3.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">

</head>
<h1>Hello</h1>

<form action="/photo" method="post">
	<img src="<%=@photo%>">
	<br>
	<br>
	<hr>
<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary active">
    <input type="radio" name="options" id="option1" autocomplete="off" checked> Radio 1 (preselected)
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" id="option2" autocomplete="off"> Radio 2
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" id="option3" autocomplete="off"> Radio 3
  </label>
</div>
</form>
<script>
  $('#option2').on('click', function () {
    $(this).button('complete') // button text will be "finished!"
  })
</script>


  <a class="btn btn-default begin-btn" href="/photo" role="button">Next</a>