<h1>Hello</h1>

<form action="/photo" method="post">
	<img src="<%=@photo%>">
	
	<input type="radio" name="yes_or_no" value="Yes" checked>Yes
<br>
<input type="radio" name="yes_or_no" value="No">No
</form>