<center><p>Your most likely to visit...</p></center><br>
<%@final.each do |country,score|%>
<h1><%=country%></h1>
<h1><%=score%></h1>
<%end%>
<center><p></p></center>
  <a href="/">
    <label class="btn btn-primary">
      Return Home
    </label>
  </a>